$borderPrimaryHover: rgba(7, 0, 15, 0.40);
$bgNeutral: rgba(2, 22, 45, 0.05);
$bgPrimary: #ffffff;
$textPrimary: #07000f;
$borderPrimary: rgba(7, 0, 15, 0.10);
$bgAccent: #0067FE;
$iconPrimary: #07000F;
$strokeGrey: #E3E6E8;